.head{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px 40px;
}
.head img{
  height: 30px;
}
nav{
  display: flex;
  
}
nav, button{
  width: 200px;
  height: 35px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}
button.btn_l{
  background-color: white;
  color: #1481ff;
  text-decoration: none;
  border: 2px solid #3091ff;
  border-radius: 10px;
  transition: all ease 0.3s;
}
button.btn_l:hover{
  background-color: #3091ff;
  color: #fff;
}
button.btn_s{
  background-color: #3091ff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: all ease 0.3s;
}
button.btn_s:hover{
  background-color: #0044ff;
  color: #fff;
}
.card{
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.card h2{
  font-size: 60px;
}
.card img{
  height: 400px;
  max-width: 320px;
  width: 500px;
  margin: 30px 0px 0px 0px;
  border-radius: 50%;
}
